/* @font-face START */
@font-face {
    font-family: "Bariol-Light";
    src: local("Bariol Light"), local("Bariol-Light"), url("../fonts/bariol_light.ttf") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bariol-Regular";
    src: local("Bariol Regular"), local("Bariol-Regular"), url("../fonts/bariol_regular.ttf") format("woff2");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bariol-Bold";
    src: local("Bariol Bold"), local("Bariol-Bold"), url("../fonts/bariol_bold.ttf") format("woff2");
    font-weight: 700;
    font-display: swap;
}
/* @font-face END */

/* Variaveis SCSS START */

:root {
    --background-black: #131219;
    --background-semi--black: #17161D;
    --content-text: #737380;
    --text: #FFFFFF;
    --green: #00DD80;
}

.line-decoration {
    border: 2px solid var(--green);
    border-radius: 5px;
}
/* Variaveis SCSS END */

/* Reset CSS START */
* {
    padding: 0;
    margin: 0;
    font-family: "Bariol-Light";
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font-family: "Bariol-light";
    background-color: var(--background-black);
}

html {
    scroll-behavior: smooth;
    font-size: 1rem;
}

::-webkit-scrollbar {
    width: 8px;
    font-size: 12px;
}

::-webkit-scrollbar-track {
    background-color: var(--background-black);
}

::-webkit-scrollbar-thumb {
    background-color: #00dd80;
    border-radius: 8px;
}

/* Reset CSS END */

/*  */

.container-fluid {
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

.container {
    width: 1200px;
    max-width: 100% !important;
    padding-right:15px;
    padding-left:15px;
}

/*  */

/* header START */

#header {
    display: flex;
    justify-content: center;
    background: var(--background-black);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    height: 80px;
}

#menu {
    display: flex;
    gap: .5rem;
}

#menu a {
    display: block;
    font-family: Bariol-Regular;
    color: var(--green);
    padding: 28px .5rem;
}

#menu a {
    border-bottom: 2px solid transparent;
}

#menu a:hover {
    border-bottom: 2px solid var(--green);
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}
/* header END */

/* menu mobile START */
    #btn-mobile {
        display: none;
    }
/* menu mobile END */

/* Home START */
#home {
    width: 100%;
    height: calc(100vh - 81px);
    max-width: 100%;
    max-height: calc(100vh - 81px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-black);
}

.rodape-home {
    width: 100%;
    background-image: url(../img/rodape-home.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.container-content--home {
    display: flex;
    justify-content: center;
}

.container-content--home .container {
    display: flex;
    align-items: center;
}

.title-home {
    flex: 1;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.title-home h1 {
    font-family: Bariol-Bold;
    font-size: 3.5rem;
    color: var(--text);
}

.title-home p {
    font-family: Bariol-Regular;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--green);
}

.icons-home {
    display: flex;
    align-items: center;
}

.fa-github, .fa-linkedin {
    color: var(--text);
    font-size: 40px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
}

.fa-github:hover, .fa-linkedin:hover {
    color: var(--green);
}

.img-home {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

.img-home img {
    width: 100%;
    max-width: 570px;
    height: 100%;
    max-height: 534px;
}
/* Home END */

/* About START */
#about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--text);
}

.rodape-about {
    width: 100%;
    transform: rotate(180deg);
}

.container-about {
    display: flex;
    justify-content: center;
}

.container-about .container {
    display: flex;
    align-items: center;
}

.container-img--about {
    flex: 1;
}

.img-about img {
    width: 50%;
}

.title-about, .content-about {
    padding: 1rem;
}

.title-about h2 {
    font-family: Bariol-Bold;
    font-size: 2.5rem;
    text-align: left;
}

.container-content--about {
    flex: 2;
    padding: 1rem;
}

.content-about p {
    font-family: Bariol-Regular;
    font-size: 1.5rem;
    text-align: left;
}
/* About END */

/* media query START */
@media (max-width: 1200px ) {}
@media (max-width: 992px ) {
    ::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
        display: none;
    }

    /* menu mobile START */
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 80px;
        right: 0px;
        height: 0px;
        background: var(--background-black);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 80px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a, #menu a:hover {
        border-bottom: none;
    }

    #menu a {
        font-family: Bariol-Regular;
        font-size: 1.5rem;
        letter-spacing: 1px;
        color: var(--green);
        text-align: center;
        padding: 1rem 0;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        display: block;
        width: 20px;
        color: var(--green);
        border-top: 2px solid;
    }

    #hamburguer::after, #hamburguer::before {
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        content: '';
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    /* menu mobile END */
    
    /* Home START */
    .title-home {
        text-align: center;
    }

    .icons-home {
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .img-home {
        display: none;
    }
    /* Home END */
}
@media (max-width: 768px ) {

}
@media (max-width: 576px ) {}
/* media query END */